body {
    background-color: #546E7A;
    font-family: monospace;
    margin-top: 3em;
    margin-bottom: 3em;
}

.h2-style{
    color: #FF80AB !important;
    font-family: monospace !important;
}

.h3-style {
    color: #5CF19E !important;
    font-family: monospace !important;
    margin-bottom: 3em !important;
}

.h4-style {
    color: #80D8FF !important;
    font-family: monospace !important;
}

#main-header {
    color: #ECEFF1;
    font-family: monospace;
    font-size: 4em;
}

.centered-text {
    text-align: center !important;
}

.inline {
    display: inline;
}

.skill-section {
    margin-top: 3em;
}

.margin-btm-2 {
    margin-bottom: 2em !important;
}

a {
    color: #FFE57F;
}
